/*forget password page css code*/
.forget-password-input
{
    display: block !important;
    width: 100% !important;
    height: 50px !important;
    box-shadow: 0 0 2px #0c4107 !important;
    border-radius: 5px !important;
    padding-left: 20px !important;
    color: #000 !important;
    margin-top: 21% !important;
}
.reset-pass-btn
{
    width: 50% !important;
    margin: auto !important;
    border-radius: 5px !important;
    background: #0c4107 !important;
    color: #fff !important;
    height: 40px !important;
    line-height: 40px !important;
    margin-top: 11% !important;
    /* margin-left: 26.5%; */
    display: block !important;
    margin-bottom: 7% !important;
}
.reset-pass-title
{
    color: #000 !important;
    text-align: center !important;
    /* display: block; */
    margin-top: 15% !important;
}
@media (max-width: 991px)
{
    .reset-pass-btn
    {
        width: 57% !important;
    }
}
/******************************/

/********* my profile css (drob down)****/
.profile-li:hover .profile-ul
{
    display: block !important;
}
.profile-ul 
{
    position: absolute !important;
    background: #ffdc11 !important;
    z-index: 9999999 !important;
        display: none !important;
    width: 13% !important;
    right: 6% !important;
    padding-top: 1% !important;
    /*padding-left: 1% !important;*/
    padding-bottom: 1%;
    border:1px #0c4107 solid !important;
    border-top: none !important;
}
.profile-ul li a
{
    transition: 0.3s !important;
    display: block !important;
    text-align: left !important;
    width: 100%;
}
.profile-ul li:hover 
{
    background: #0c4107 !important;
    color: #fff !important;
}
.profile-ul li:hover a ,.profile-ul li:hover i
{
    color: #fff !important;
}
.profile-ul li
{
    float: none !important;
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
    margin-bottom: 2% !important;
    padding-left: 29px !important;
}
/*******************************************/
.sportsmagazine-topstrip-two{
    border-color: #ffdc11;
    background: #ffdc11;
}
.sportsmagazine-user-link li i{
    color: #000000;
}
.sportsmagazine-color, .sportsmagazine-colorhover:hover, .navbar-nav > li:hover > a, .navbar-nav > li.active > a, .sportsmagazine-megalist li:hover a, .widget_twitter ul li p a, .widget_trending_news .nav-tabs li.active a, .widget_trending_news .nav-tabs li:hover a, .widget_twitter ul li p a, .widget_awards .slick-arrow:hover i, .sportsmagazine-partner-slider .slick-arrow:hover i, .sportsmagazine-bloglarge ul li:hover .sportsmagazine-readmore-btn, .sportsmagazine-player-thumb-text h3 span, .sportsmagazine-player-list ul li:hover .sportsmagazine-player-list-text h5 a, .sportmagazine-score-counter p span, .sportsmagazine-modern-player figure figcaption h3 > span, .star-rating:before, .star-rating-box:before, .sportsmagazine-shop-grid section > .price-cart{
    color: #b5d350;
}
.sportsmagazine-banner-text h1{
    color: #ffdc11;
}
.sportsmagazine-banner-upcoming-match,
.sportsmagazine-classic-heading:after{
    background-color: #ffdc11;
}
.sportsmagazine-banner-upcoming-match span{
    padding: 48px 30px 0px 42px;
}
.sportsmagazine-bgcolor, .sportsmagazine-classic-heading:before{
    background-color: #83a803;
}
.sportsmagazine-banner-two .slick-dots li.slick-active button{
    border-bottom: 2px solid #b5d350;
    color: #b5d350;
}
.sportsmagazine-modal-close:before, .sportsmagazine-fixture-slider-layer ul:before, .sportsmagazine-featured-slider .slick-arrow-left.slick-arrow:hover:before, .widget_trending_news .nav-tabs li.active a:after, .sportsmagazine-modren-team-one:before, .sportsmagazine-modren-team-two:before{
    border-top-color:#83a803;
}
.sportsmagazine-fixture-slider-layer ul li{
    color: #fff;
}
.sportsmagazine-fixture-slider .slick-arrow:hover{
    background-color: #0c4107;
}
.sportsmagazine-fixture-slider .slick-arrow:hover i{
    color: #fff;
}


/* Word Cup page css code */
/*------------------------*/
#internal-page-word-cup .title
{
    text-align: center;
    height: 76px;
    line-height: 76px;
    color: #fff;
    background: #0c4107;
    margin-top: 5%;
}
#internal-page-word-cup .select-level
{
    height: 40px;
    line-height: 40px;
    margin-top: 4%;
    margin-bottom: 4%;
    background: #e9ff9b;
}
#internal-page-word-cup .select-level:focus
{
    outline: none;
}
#internal-page-word-cup td a
{
    float: left;
}
#internal-page-word-cup .group-name
{
    background: #e9ff9b;
    height: 40px;
    color: #000;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}
.internal-page-word-cup .title
{
    text-align: center;
    height: 76px;
    line-height: 76px;
    color: #fff;
    background: #0c4107;
    margin-top: 5%;
}
.internal-page-word-cup .select-level
{
    height: 40px;
    line-height: 40px;
    margin-top: 4%;
    margin-bottom: 4%;
    background: #e9ff9b;
}
.internal-page-word-cup .no-results
{
    height: 167px;
    line-height: 167px;
    text-align: center;
    font-size: 30px;
}
.internal-page-word-cup .no-data-available
{
    text-align: center !important;
    height: 40px;
    line-height: 40px;
    color: #fff;
}
@media (max-width: 1199px)
{
    #internal-page-word-cup .main-table
    {
        margin-left: 0;
        width: 100%;
    }
}
@media (max-width: 1199px)
{
    #internal-page-word-cup img
    {
        display: none;
    }
    #internal-page-word-cup th
    {
        padding: 0;
    }
    #internal-page-word-cup .group-name
    {
        /*transform: rotate(90deg);*/
        width: 161%;
    }
    #internal-page-word-cup .main-table
    {
        padding-right: 10px;
    }
}
/*-----------End-------------*/
